
<div class="container-fluid" style="margin-top: 100px;">
    <div class="container bg-light shadow">
        <div class="row profile-container" >
            <div class="col-2 p-0 side-bar ">
                    <div class="side-item " [class.active]="activeItem==='home'" (click)="changeActive('home')" [routerLink]="['/admin']">
                      <i class="ri-home-line"></i>
                      <b>BASIC INFO</b>
                    </div>
                    <div class="side-item" [class.active]="activeItem==='user'" (click)="changeActive('user')" [routerLink]="['userManagement']">
                      <i class="ri-user-settings-line"></i>
                       <b>REVIEWS</b>
                    </div>
                    <div class="side-item" [class.active]="activeItem==='category'" (click)="changeActive('category')" [routerLink]="['categoryManagement']">
                      <i class="ri-grid-fill"></i>
                      <b>WALLET</b>
                    </div>
                    <div class="side-item" [class.active]="activeItem==='work'" (click)="changeActive('work')" [routerLink]="['workManagement']">
                      <i class="ri-briefcase-line"></i>
                      <b>SCHEDULES</b>
                    </div>
                    <div class="side-item" [class.active]="activeItem==='wallet'" (click)="changeActive('wallet')" [routerLink]="['walletManagement']">
                      <i class="ri-wallet-line"></i>
                      <b>HISTORY</b>
                    </div>
            </div>
            <div class="col-10 contents">asdASD</div>
        </div>
    </div>
</div>
