<div class="container-fluid">
  <div class="mt-4 ms-4"><h2 class="heading">HISTORY</h2></div>
  <table class="table table-borderless bg-light mt-3">
    <thead>
      <tr class="head">
        <th scope="col" class="text-center">Sl.No.</th>
        <th scope="col">Labour Name</th>
        <th scope="col">Category</th>
        <th scope="col">Hire Date</th>
        <th scope="col">Work Date</th>
        <th scope="col">Hire Status</th>
        <th scope="col">Job Status</th>
        <th scope="col">Days</th>
        <th scope="col">Amount</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
      <tr style="background-color: white">
        <th></th>
      </tr>
    </thead>
    <tbody class="mt-3">
      <tr class="data" *ngFor="let item of historyData; let i = index">
        <td scope="row" class="text-center">{{ i + 1 }}</td>
        <td>{{ item.labour.name|titlecase}}</td>
        <td>{{ item.category|titlecase }}</td>
        <td>{{ item.hiringDate | customDate }}</td>
        <td>{{ item.startDate | customDate }}</td>
        <td>{{ item.hireStatus|titlecase }}</td>
        <td>{{ item.job?.currentStatus|titlecase }}</td>
        <td>{{ item.totalDays }} Days</td>
        <td>₹ {{ item.totalAmount }}</td>
        <td class="text-center">
          <div
            *ngIf="
              item.complaint ||
                item.hireStatus === 'cancelRequested_client' ||
                item.hireStatus === 'cancelRequested_labour';
              else elseBlock
            "
          >
            <i class="fas fa-circle-exclamation" style="color: gold"></i>
            <span class="ms-1">{{
              item.job?.currentStatus === "expire"
                ? "Expired"
                : item.hireStatus === "cancelRequested_client" ||
                  item.hireStatus === "cancelRequested_labour"
                ? " Cancel Requested"
                : item.hireStatus === "cancelled"
                ? "Cancelled"
                : "Complained"
            }}</span>
          </div>
          <ng-template #elseBlock>
            <div class="dropdown">
              <button
                class="btn btn-primary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
                Action
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li
                  *ngIf="
                    item.hireStatus == 'hired' &&
                    item.job?.currentStatus == 'active'
                  "
                  (click)="cancelHire(item._id)"
                >
                  <a class="dropdown-item">Cancel Hire</a>
                </li>
                <li
                  *ngIf="
                    item.hireStatus == 'hired' &&
                    item.job?.currentStatus == 'active'
                  "
                >
                  <a class="dropdown-item">Chat</a>
                </li>
                <li
                  *ngIf="
                    item.hireStatus == 'hired' &&
                    item.job?.currentStatus == 'completed' &&
                    !item.complaint
                  "
                  (click)="complain(item._id)"
                >
                  <a class="dropdown-item">Complain</a>
                </li>
                <li
                  *ngIf="
                    item.hireStatus == 'hired' &&
                    item.job?.currentStatus == 'completed' &&
                    !item.review
                  "
                  (click)="rateLabour(item.labour._id, item._id)"
                >
                  <a class="dropdown-item">Rate</a>
                </li>
              </ul>
            </div>
          </ng-template>
        </td>
      </tr>
      <tr style="background-color: white; border: none">
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
