<div class="container-fluid">
    <div class="mt-4 ms-4"><h2 class="heading">HISTORY</h2></div>
    <table class="table table-borderless bg-light mt-3">
        <thead>
          <tr class="head">
            <th scope="col" class="text-center">Sl.No.</th>
            <th scope="col">Labour Name</th>
            <th scope="col">Category</th>
            <th scope="col">Hire Date</th>
            <th scope="col">Work Date</th>
            <th scope="col">Status</th>
            <th scope="col"class="text-center">Action</th>
          </tr>
          <tr style="background-color: white;">
            <th></th>
          </tr>
        </thead>
        <tbody  class="mt-3">
          <tr class="data">
            <td scope="row" class="text-center">1</td>
            <td>abijith</td>
            <td>Welder</td>
            <td>Credit</td>
            <td>12000</td>
            <td>Completed</td>
            <td class="text-center">
                <div class="dropdown">
                    <button  class="btn btn-primary dropdown-toggle chat-button" type="button"id="dropdownMenuButton"data-mdb-toggle="dropdown"aria-expanded="false">
                        Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" >Cancel Hire</a></li>
                        <li><a class="dropdown-item">Chat</a></li>
                        <li><a class="dropdown-item">Complain</a></li>
                        <li><a class="dropdown-item">Rate</a></li>
                    </ul>
                </div>
            </td>
        </tr>
          <tr style="background-color: white; border: none;">
            <td></td>
          </tr>
        </tbody>
  
      </table>
</div>
