<div class="container-fluid" style="margin-top: 80px" (click)="clear()">
  <div class="search-box">
    <h1 class="text-center d-md-block d-none slogan">
      We Offer Thousands Of Workes Right Now
    </h1>
    <div class="search col-md-5 col-12 search-location">
      <input
        type="text"
        placeholder="Search by key"
        class="form-control"
        [(ngModel)]="searchKey"
      />
      <input
        type="text"
        placeholder="Search by location"
        [(ngModel)]="searchLocation"
        (input)="fetchLocation($event)"
        class="form-control"
      />
      <ul class="list-unstyled suggestion-list">
        <li
          *ngFor="let suggestion of suggessions"
          (click)="selectLocation(suggestion)"
        >
          {{ suggestion.location }}
        </li>
      </ul>
      <button class="btn btn-success search-btn" (click)="searchJobs()">search</button>
    </div>
    <div class="col-md-5 col-12">
      <h4 class="suggestion">Browse Works By Category And Location</h4>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div
        class=" col-md-3 col-6 my-3 d-flex justify-content-center"
        *ngFor="let job of jobs"
      >
        <div class="jobs">
          <img
            class="card-img-top"
            src="{{ job.category?.subImage }}"
            alt="Card image cap"
          />
          <div class="details">
            <p>
              <b>Category &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b
              >&nbsp;<span>{{ job.category?.name }}</span>
            </p>
            <p [title]="job.location" class="location">
              <b>Location &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b
              >&nbsp;{{ job.location }}
            </p>
            <p>
              <b
                >Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b
              >&nbsp;{{ job.startDate | customDate }} &nbsp;to&nbsp;
              {{ job.endDate | customDate }}
            </p>
            <p>
              <b> Experience &nbsp;&nbsp;&nbsp;:</b>
              {{ job.experience }}&nbsp;&nbsp;Years
            </p>
            <p>
              <b>
                Count&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b
              >&nbsp;{{ job.requiredCount }}&nbsp;&nbsp;Labour
            </p>
          </div>
          <div class="button">
            <button class="btn btn-primary btn-sm me-2 me-md-3" (click)="viewSingleJob(job)">
              View
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
