
<form *ngIf="!generateOtp" [formGroup]="forgotForm" (ngSubmit)="onSubmit()" >

    <div class="d-flex align-items-center justify-content-center mb-5 pb-1">
        <span class="h3 font-semibold mb-0 ms-5  text-center"
          style="text-shadow: 1.5px 3px 3px rgb(75, 75, 75);color: rgba(48, 46, 46, 0.89);">VERIFY EMAIL</span>
      </div>
      
    <div class="mb-3">
      <label for="exampleInputEmail1" [style.color]="isSubmitted&&formControls['email'].errors?'red':''" class="form-label">{{ isSubmitted&&formControls['email'].errors?.hasOwnProperty('required') ? 'Email Required' : (isSubmitted && formControls['email'].errors?.hasOwnProperty('email') ? 'Invalid email' : 'Email address') }}</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email" [ngClass]="{'is-invalid':isSubmitted&&formControls['email'].errors}">
    </div>
<p class="text-muted mt-3 mb3">Plese enter your registered email address</p>
    <div class="pt-1 mb-5">
      <button class="btn btn-dark btn-lg btn-block w-100 mt-3" type="submit">Get OTP</button>
    </div>
    </form>
    <app-forgot-password-otp *ngIf="generateOtp"></app-forgot-password-otp>