<div class="container-fluid">
  <div class="mt-4 ms-4"><h2 class="heading">REVIEWS</h2></div>

  <div class="row">
    <div class="col-3">
      <h3><b>1808 Reviews</b></h3>
      <span><b>Over All Rating</b></span>
      <span class="rating ms-1">
        <i class="fas fa-star"></i><i class="fas fa-star"></i
        ><i class="fas fa-star"></i><i class="fas fa-star"></i
        ><i class="fas fa-star"></i>
      </span>
      <div class="progressbar mt-4">
        <span class="d-flex align-items-center" style="gap: 8px">
          <b>5</b> <i class="fas fa-star"></i>
          <mat-progress-bar
            class="example-margin"
            color="warn"
            mode="determinate"
            value="30"
            bufferValue="75"
          >
          </mat-progress-bar
        ></span>
        <span class="d-flex align-items-center" style="gap: 8px">
          <b>4</b> <i class="fas fa-star"></i>
          <mat-progress-bar
            class="example-margin"
            color="warn"
            mode="determinate"
            value="35"
            bufferValue="75"
          >
          </mat-progress-bar
        ></span>
        <span class="d-flex align-items-center" style="gap: 8px">
          <b>3</b> <i class="fas fa-star"></i>
          <mat-progress-bar
            class="example-margin"
            color="warn"
            mode="determinate"
            value="25"
            bufferValue="75"
          >
          </mat-progress-bar
        ></span>
        <span class="d-flex align-items-center" style="gap: 8px">
          <b>2</b> <i class="fas fa-star"></i>
          <mat-progress-bar
            class="example-margin"
            color="warn"
            mode="determinate"
            value="15"
            bufferValue="100"
          >
          </mat-progress-bar
        ></span>
        <span class="d-flex align-items-center" style="gap: 8px">
          <b>1</b> <i class="fas fa-star"></i>
          <mat-progress-bar
            class="example-margin"
            color="warn"
            mode="determinate"
            value="5"
            bufferValue="75"
          >
          </mat-progress-bar
        ></span>
      </div>
    </div>
    <div class="col-9 py-2 review-col">
        
        <div class="text-container mb-3" style="background-color: rgba(240, 240, 240, 0.377);">
          <div class="review-box">
            <div class="top d-flex justify-content-between">
              <div class="col-7">
                <img
                  src="../../../../../assets/userAssets/images/831.jpg"
                  style="height: 80px; width: 80px;border-radius: 40px; margin-right: 2rem;"
                />
                <i class="fas fa-star"></i><i class="fas fa-star"></i
                ><i class="fas fa-star"></i><i class="fas fa-star"></i
                ><i class="fas fa-star"></i>
              </div>
              <div class="col-5 date">
                <span class="me-5"><b>27-aug-2022</b></span>
              </div>
            </div>
            <div class="name">
              <b class="ps-3">Abijith </b>
            </div>
            <div class="review-text mt-2">
              Contrary to popular belief, Lorem Ipsum is not simply random text.
              It has roots in a piece of classical Latin literature from 45 BC,
              making
            </div>
          </div>
        </div>
        <div class="text-container mb-3">
          <div class="review-box">
            <div class="top d-flex justify-content-between">
              <div class="col-7">
                <img
                  src="../../../../../assets/userAssets/images/831.jpg"
                  style="height: 80px; width: 80px"
                />
                <i class="fas fa-star"></i><i class="fas fa-star"></i
                ><i class="fas fa-star"></i><i class="fas fa-star"></i
                ><i class="fas fa-star"></i>
              </div>
              <div class="col-5 date">
                <span class="me-5"><b>27-aug-2022</b></span>
              </div>
            </div>
            <div class="name">
              <b class="ps-3">Abijith </b>
            </div>
            <div class="review-text mt-2">
              Contrary to popular belief, Lorem Ipsum is not simply random text.
              It has roots in a piece of classical Latin literature from 45 BC,
              making
            </div>
          </div>
        </div>
        <div class="text-container mb-3">
          <div class="review-box">
            <div class="top d-flex justify-content-between">
              <div class="col-7">
                <img
                  src="../../../../../assets/userAssets/images/831.jpg"
                  style="height: 80px; width: 80px"
                />
                <i class="fas fa-star"></i><i class="fas fa-star"></i
                ><i class="fas fa-star"></i><i class="fas fa-star"></i
                ><i class="fas fa-star"></i>
              </div>
              <div class="col-5 date">
                <span class="me-5"><b>27-aug-2022</b></span>
              </div>
            </div>
            <div class="name">
              <b class="ps-3">Abijith </b>
            </div>
            <div class="review-text mt-2">
              Contrary to popular belief, Lorem Ipsum is not simply random text.
              It has roots in a piece of classical Latin literature from 45 BC,
              making
            </div>
          </div>
        </div>
        <div class="text-container mb-3">
          <div class="review-box">
            <div class="top d-flex justify-content-between">
              <div class="col-7">
                <img
                  src="../../../../../assets/userAssets/images/831.jpg"
                  style="height: 80px; width: 80px"
                />
                <i class="fas fa-star"></i><i class="fas fa-star"></i
                ><i class="fas fa-star"></i><i class="fas fa-star"></i
                ><i class="fas fa-star"></i>
              </div>
              <div class="col-5 date">
                <span class="me-5"><b>27-aug-2022</b></span>
              </div>
            </div>
            <div class="name">
              <b class="ps-3">Abijith </b>
            </div>
            <div class="review-text mt-2">
              Contrary to popular belief, Lorem Ipsum is not simply random text.
              It has roots in a piece of classical Latin literature from 45 BC,
              making
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
