<div class="container-fluid">
  <div class="mt-4 ms-4"><h2 class="heading">REVIEWS</h2></div>

  <div class="row">
    <div class="col-3">
      <h3><b>{{reviews?.totalReviews}} Reviews</b></h3>
      <span><b>Over All Rating</b></span>
      <ng-container class="rating ms-1" *ngFor="let item of (reviews?.avgRating!)|starRating">
        <i *ngIf="item==1" class="fas fa-star" style="color: gold;"></i>
        <i *ngIf="item==.5" class="fas fa-star-half-stroke" style="color: gold;"></i>
        <i *ngIf="item==0" class="fas fa-star" style="color:rgba(0, 0,0, 0.6);"></i>
      </ng-container>
      <div class="progressbar mt-4">
        <span class="d-flex align-items-center" style="gap: 8px">
          <b>5</b> <i class="fas fa-star"></i>
          <mat-progress-bar
            class="example-margin"
            color="warn"
            mode="determinate"
            value={{reviews?.fiveRating!*100}}
            bufferValue="75"
          >
          </mat-progress-bar
        ></span>
        <span class="d-flex align-items-center" style="gap: 8px">
          <b>4</b> <i class="fas fa-star"></i>
          <mat-progress-bar
            class="example-margin"
            color="warn"
            mode="determinate"
            value={{reviews?.fourRating!*100}}
            bufferValue="75"
          >
          </mat-progress-bar
        ></span>
        <span class="d-flex align-items-center" style="gap: 8px">
          <b>3</b> <i class="fas fa-star"></i>
          <mat-progress-bar
            class="example-margin"
            color="warn"
            mode="determinate"
            value={{reviews?.threeRating!*100}}
            bufferValue="75"
          >
          </mat-progress-bar
        ></span>
        <span class="d-flex align-items-center" style="gap: 8px">
          <b>2</b> <i class="fas fa-star"></i>
          <mat-progress-bar
            class="example-margin"
            color="warn"
            mode="determinate"
            value={{reviews?.twoRating!*100}}
            bufferValue="75"
          >
          </mat-progress-bar
        > </span>
        <span class="d-flex align-items-center" style="gap: 8px">
          <b>1</b> <i class="fas fa-star"></i>
          <mat-progress-bar
            class="example-margin"
            color="warn"
            mode="determinate"
            value={{reviews?.oneRating!*100}}
            bufferValue="75"
          >
          </mat-progress-bar
        ></span>
      </div>
    </div>
    <div class="col-9 py-2 review-col">
        
        <div class="text-container mb-3" style="background-color: rgba(240, 240, 240, 0.377);" *ngFor="let item of reviews?.reviews">
          <div class="review-box">
            <div class="top d-flex justify-content-between">
              <div class="col-7">
                <img
                  src="{{'../../../../../assets/userAssets/images/831.jpg'||'../../../../../../../assets/userAssets/images/1408.jpg'}}"
                  style="height: 80px; width: 80px;border-radius: 40px; margin-right: 2rem;"
                />
                <ng-container class="rating ms-1" *ngFor="let item of (item.rating)|starRating">
                  <i *ngIf="item==1" class="fas fa-star" style="color: gold;"></i>
                  <i *ngIf="item==.5" class="fas fa-star-half-stroke" style="color: gold;"></i>
                  <i *ngIf="item==0" class="fas fa-star" style="color:rgba(0, 0,0, 0.6);"></i>
                </ng-container>
              </div>
              <div class="col-5 date">
                <span class="me-5"><b>{{item.createdAt|customDate}}</b></span>
              </div>
            </div>
            <div class="name">
              <b class="ps-3">{{item.client.name}}</b>
            </div>
            <div class="review-text mt-2">
              {{item.reviewText}}
            </div>
          </div>
        </div>
       
    </div>
  </div>
</div>
