.jobs{
    width: 500px;
    height: 290px;
    gap: 20px;
    background-color: rgba(244, 244, 244, 1);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}


.card-row{
    display: flex;
    gap: 20px;
}

.details{
    margin-left: 30px;
}
.details p{
    white-space: nowrap;
    font-size: 15px;
}

.img img{
    height: 100px;
    width: 100px;
    object-fit: contain;
     border-radius: 50px;
     border: thin solid rgba(0, 0, 0, 0.3);
}

.name{
    font-weight: bolder;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
    font-size: 22px;
}

.category{
    color: rgb(35, 35, 194);
    font-weight: bold;
    font-size: 19px;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.4);
}

.buttons button {
    padding: 4px 12px;
    font-size: 14px;
    height: auto; 
    min-height: 28px; 
    border-radius: 10px;
    text-transform: none;
    transition:transform .3s ease-out;
  }

  .buttons button:hover{
    transform: scale(1.1);
  }

  .spinner {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh; /* Ensures the component covers the entire viewport */
  }