<div class="container-fluid" style="margin-top: 75px;">
    <div class="row ">

        <div class="col-md-3 mt-4 d-flex justify-content-center ">
            <div class=" jobs">
                <div class="d-flex">
                    <div class="col-md-5 text-center img mt-2">
                        <img src="../../../../assets/userAssets/images/3009287.jpg" alt="">
                    </div>
                    <div class="col-md-7 mt-2 ms-3">
                        <h2 class="name">Abijith Surendran</h2>
                        <h3 class="category">Plumber</h3>
                    </div>
                </div>
                <div class='details mt-2'>
                    <p><b>Experience : 2 Years</b> </p>
                    <p><b>Wage &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : ₹ 1500 /Day</b></p>
                    <p><b>Location &nbsp;&nbsp;&nbsp; : Kannur,Koothuparamba</b> </p>
                    <p><b>Rating &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : 3.5  <i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i> <i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i><i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i><i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i><i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i></b> </p>

                </div>
                <div class="buttons d-flex justify-content-around  mt-3">
                  <button class="btn btn-dark" >Chat</button>
                  <button class="btn btn-dark">Hire</button>
                  <button class="btn btn-dark">View</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-4 d-flex justify-content-center ">
            <div class=" jobs">
                <div class="d-flex">
                    <div class="col-md-5 text-center img mt-2">
                        <img src="../../../../assets/userAssets/images/3009287.jpg" alt="">
                    </div>
                    <div class="col-md-7 mt-2 ms-3">
                        <h2 class="name">Abijith Surendran</h2>
                        <h3 class="category">Plumber</h3>
                    </div>
                </div>
                <div class='details mt-2'>
                    <p><b>Experience : 2 Years</b> </p>
                    <p><b>Wage &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : ₹ 1500 /Day</b></p>
                    <p><b>Location &nbsp;&nbsp;&nbsp; : Kannur,Koothuparamba</b> </p>
                    <p><b>Rating &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : 3.5  <i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i> <i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i><i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i><i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i><i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i></b> </p>

                </div>
                <div class="buttons d-flex justify-content-around  mt-3">
                  <button class="btn btn-dark" >Chat</button>
                  <button class="btn btn-dark">Hire</button>
                  <button class="btn btn-dark">View</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-4 d-flex justify-content-center ">
            <div class=" jobs">
                <div class="d-flex">
                    <div class="col-md-5 text-center img mt-2">
                        <img src="../../../../assets/userAssets/images/3009287.jpg" alt="">
                    </div>
                    <div class="col-md-7 mt-2 ms-3">
                        <h2 class="name">Abijith Surendran</h2>
                        <h3 class="category">Plumber</h3>
                    </div>
                </div>
                <div class='details mt-2'>
                    <p><b>Experience : 2 Years</b> </p>
                    <p><b>Wage &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : ₹ 1500 /Day</b></p>
                    <p><b>Location &nbsp;&nbsp;&nbsp; : Kannur,Koothuparamba</b> </p>
                    <p><b>Rating &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : 3.5  <i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i> <i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i><i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i><i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i><i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i></b> </p>

                </div>
                <div class="buttons d-flex justify-content-around  mt-3">
                  <button class="btn btn-dark" >Chat</button>
                  <button class="btn btn-dark">Hire</button>
                  <button class="btn btn-dark">View</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-4 d-flex justify-content-center ">
            <div class=" jobs">
                <div class="d-flex">
                    <div class="col-md-5 text-center img mt-2">
                        <img src="../../../../assets/userAssets/images/3009287.jpg" alt="">
                    </div>
                    <div class="col-md-7 mt-2 ms-3">
                        <h2 class="name">Abijith Surendran</h2>
                        <h3 class="category">Plumber</h3>
                    </div>
                </div>
                <div class='details mt-2'>
                    <p><b>Experience : 2 Years</b> </p>
                    <p><b>Wage &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : ₹ 1500 /Day</b></p>
                    <p><b>Location &nbsp;&nbsp;&nbsp; : Kannur,Koothuparamba</b> </p>
                    <p><b>Rating &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : 3.5  <i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i> <i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i><i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i><i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i><i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i></b> </p>

                </div>
                <div class="buttons d-flex justify-content-around  mt-3">
                  <button class="btn btn-dark" >Chat</button>
                  <button class="btn btn-dark">Hire</button>
                  <button class="btn btn-dark">View</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-4 d-flex justify-content-center ">
            <div class=" jobs">
                <div class="d-flex">
                    <div class="col-md-5 text-center img mt-2">
                        <img src="../../../../assets/userAssets/images/3009287.jpg" alt="">
                    </div>
                    <div class="col-md-7 mt-2 ms-3">
                        <h2 class="name">Abijith Surendran</h2>
                        <h3 class="category">Plumber</h3>
                    </div>
                </div>
                <div class='details mt-2'>
                    <p><b>Experience : 2 Years</b> </p>
                    <p><b>Wage &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : ₹ 1500 /Day</b></p>
                    <p><b>Location &nbsp;&nbsp;&nbsp; : Kannur,Koothuparamba</b> </p>
                    <p><b>Rating &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : 3.5  <i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i> <i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i><i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i><i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i><i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i></b> </p>
                </div>
                <div class="buttons d-flex justify-content-around  mt-3">
                  <button class="btn btn-dark" >Chat</button>
                  <button class="btn btn-dark">Hire</button>
                  <button class="btn btn-dark">View</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-4 d-flex justify-content-center ">
            <div class=" jobs">
                <div class="d-flex">
                    <div class="col-md-5 text-center img mt-2">
                        <img src="../../../../assets/userAssets/images/3009287.jpg" alt="">
                    </div>
                    <div class="col-md-7 mt-2 ms-3">
                        <h2 class="name">Abijith Surendran</h2>
                        <h3 class="category">Plumber</h3>
                    </div>
                </div>
                <div class='details mt-2'>
                    <p><b>Experience : 2 Years</b> </p>
                    <p><b>Wage &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : ₹ 1500 /Day</b></p>
                    <p><b>Location &nbsp;&nbsp;&nbsp; : Kannur,Koothuparamba</b> </p>
                    <p><b>Rating &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : 3.5  <i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i> <i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i><i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i><i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i><i class="ri-star-fill" style="color: rgba(255, 217, 0, 0.904); width: 20px;"></i></b> </p>

                </div>
                <div class="buttons d-flex justify-content-around  mt-3">
                  <button class="btn btn-dark" >Chat</button>
                  <button class="btn btn-dark">Hire</button>
                  <button class="btn btn-dark">View</button>
                </div>
            </div>
        </div>
      
     
    </div>
</div>