.headings {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.headings p {
  font-size: 16px;
  font-weight: bolder;
  padding-top: 0.8rem;
}

.datas {
  display: flex;
  justify-content: space-between;
}
.datas p i {
  font-weight: 900;
}

.datas p {
  font-weight: 400;
}

.job-data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-text {
  text-align: center;
}

.location {
  flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 285px;
}

p {
  cursor: default;
}

.dropdown-item {
  cursor: default;
}

.chat-button {
  padding: 6px 10px 6px 10px;
  font-size: 10px;
}

.ellipsis{
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1;

}

.description{
  display: flex;
  text-align: justify;

}

.action-btn {
  padding: 4px 10px 4px 10px;
  font-size: 10px;
  background-color: #1d57b4;
  color: white;
  border-radius: 5px;
  border: none;
}


@media(max-width:768px){

  .headings p {
    font-size: 7px;
    padding: 0 !important;
    margin: 0 !important;
  }

 
  .job-details p{
      font-size: 5px;
      margin: 0 !important;
      line-height: 15px;
  }
  hr{
      margin: 0 !important;
  }
 
  .action-btn{
      font-size: 6px;
      padding: 2px 2px 2px 2px;
      line-height: 08px;
      border-radius: 2px;
  }

  .location{
      min-width: 80px;
  }
  .exclamation{
      font-size: 5px !important;
  }

  .job-data{
    padding: 0 !important;
  }
.ellipsis{
  line-height: 15px !important;
}
 .j-desc{
  line-height: 10px;
 }

.dropdown-item{
  font-size: 10px;
  padding: 2px;
 }
}

