.box{
   box-shadow: 0 1px 1px rgba(0, 0, 0, .3); 
   /* border: thin solid rgba(0, 0, 0, .3; */
   border-radius: 3px;
   
}
.datas{
    padding: 12px;
    margin: 0;
}

.button{
    display: flex;
    justify-content: flex-end;
}

label{
    text-decoration: underline;
    font-size: 16px;
}






.desc-data{
    display:flex;
    text-align: justify;
}

.desc-data .data{
    max-height: 130px;
    overflow-y: scroll;
}

.button{
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}

.details{
    font-size: 15px;
    font-weight: 400;
}

.details i{
    font-weight: 900;
    font-size: 18px;
}
