
<div class="container-fluid">
    <div class="container">
        <div class="image-div row">
            <div class="col-8">
        <h1 class="text-start mt-2 mb-4">
            <b>{{ jobDetails.category?.name}}</b>
        </h1>
        <div class="experience mb-3">
            <P class="details"><i class="ri-briefcase-line"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{jobDetails.experience}}&nbsp;&nbsp;Years<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>₹&nbsp;&nbsp;-&nbsp;&nbsp;{{ jobDetails.wage }}</P>
        </div>
        <div class="date mb-3">
            <p class="details"><span>
                <i class="ri-calendar-todo-fill"></i>
            </span>&nbsp;&nbsp;
            <span>{{ jobDetails.startDate | customDate }}</span>&nbsp;&nbsp;to&nbsp;&nbsp;<span>{{jobDetails.endDate | customDate}}</span>
        </p>
    </div>
</div>
<div class="col-4 p-0 p-md-auto d-flex justify-content-between mb-3">
    <img src="{{jobDetails.category?.subImage}}" alt="">
    <span class="close" (click)="close()">X</span>

</div>
</div>
        <div class="location mb-3">
            <p class="details location-data">
                <span>
                    <i class="ri-map-pin-line"></i>
                </span>&nbsp;&nbsp;
                <span>
                    {{jobDetails.location}}
                </span>
            </p>
        </div>

        <div class="description mb-3">
            <p class="desc-data details">
                <span>
                    <i class="ri-discuss-line"></i>
                </span>
                &nbsp;&nbsp;
                <span class="data">
                    {{jobDetails.jobDescription}}
                </span>
            </p>
        </div>
        <hr>

        <div class="button mb-3">
            <p class="details">
                <span>
                    <b>Posted Date:</b>&nbsp;{{jobDetails.startDate|customDate}}
                </span>
                <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <span>
                    <b>Total Requirement:</b>&nbsp;{{jobDetails.requiredCount}}
                </span>
            </p>
            <button class="btn btn-success" (click)="applyJob(jobDetails._id!)">Apply</button>
        </div>
    </div>
</div>