<div class="container-fluid" style="margin-top: 75px" *ngIf="!isLoading">
  <div class="search-box">
    <h1 class="text-center d-md-block d-none slogan">
      We Offer Thousands Of Labours Right Now
    </h1>
    <div class="search col-md-6 col-12 search-location">
      <input
        type="text"
        placeholder="Search by name"
        class="form-control"
        [(ngModel)]="searchKey"
        (keyup)="searchByKey()"
      />
      <input
        type="text"
        placeholder="Search by location"
        [(ngModel)]="searchLocation"
        (input)="fetchLocation($event)"
        class="form-control"
      />
      <ul class="list-unstyled suggestion-list">
        <li
          *ngFor="let suggestion of suggessions"
          (click)="selectLocation(suggestion)"
        >
          {{ suggestion.location }}
        </li>
      </ul>
      <button class="btn btn-success search-btn" (click)="searchJobs()">
        search
      </button>
    </div>
    <div class="col-md-5 col-12">
      <h4 class="suggestion">Browse Labours By Name And Location</h4>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div
        class="col-md-3 col-6 mt-4 d-flex justify-content-center"
        *ngFor="let item of labourDetails"
      >
        <div class="jobs">
          <div class="d-flex pt-0 p-2">
            <div class="col-md-5 text-center img mt-2">
              <img src="{{ item.profilePic }}" alt="" />
            </div>
            <div class="col-md-7 mt-2 ms-3">
              <p class="name m-0">{{ item.name }}</p>
              <p class="category m-0">{{ item.category }}</p>
            </div>
          </div>
          <div class="details mt-2">
            <p><b>Experience : 2 Years</b></p>
            <p>
              <b
                >Wage &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : ₹
                <span>{{ item.wage }}</span> /Day</b
              >
            </p>
            <p title="{{ item.location }}">
              <b
                >Location &nbsp;&nbsp;&nbsp; :
                <span>{{ item.location }}</span></b
              >
            </p>
            <p>
              <b
                >Rating &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :
                <span>{{ item.rating }}</span
                >&nbsp;&nbsp;
                <span *ngFor="let star of item.rating! | starRating">
                  <i
                    *ngIf="star == 1"
                    class="star-icon ri-star-fill"
                    style="color: gold"
                  ></i>
                  <i
                    *ngIf="star == 0.5"
                    class="star-icon ri-star-half-line"
                    style="color: gold"
                  ></i>
                  <i
                    *ngIf="star == 0"
                    class="star-icon ri-star-line"
                    style="color: rgb(0, 0, 0)"
                  ></i>
                </span>
              </b>
            </p>
          </div>
          <div class="buttons d-flex justify-content-end mt-md-3 mt-1">
            <button
              class="btn btn-primary view-btn"
              (click)="viewJobProfile(item.user_id!)"
            >
              View
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <ul class="pagination">
        <li class="page-item"><a class="page-link"  (click)="selectPage(selectedPage-1)">{{(selectedPage-1!=0?selectedPage-1:'...')}}</a></li>
        <li class="page-item active" aria-current="page">
          <a class="page-link">{{selectedPage}}</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="selectPage(selectedPage+1)">{{totalPages>=(selectedPage+1)?selectedPage+1:'...'}}</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="spinner">
  <labourHive-loading *ngIf="isLoading"></labourHive-loading>
</div>
