.headings a {
  font-size: larger;
}

.fa-custom-size {
  font-size: 1.5em;
}

.slogan h1,
h3 {
  font-family: "Inknut Antiqua", serif;
}

.category-labour {
  margin-right: 20px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.5);
  border: thin solid rgb(0, 0, 0, 0.3);
}

.banner-buttons{
  background-color: rgba(240, 55, 55, 0.83); width: 11rem;
}

.card-img-top {
  height: 120px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .category-labour {
    margin-right: 0px;
  }
  .card-img-top {
    height: 80px;
  }
  .card-title {
    font-size: 14px;
    margin-bottom: 4px;
  }

  .card-text {
    font-size: 10px;
  }
  .card-body p {
    font-size: 09px;
  }
  .banner-buttons {
    font-size: 8px;
    padding:8px;
    width: 7rem;
  }
}
