<!-- Banner -->

<div class="container-fluid" style="margin-top: 80px;">
  <div class="mt-1 border" style="box-shadow:  0 2px 8px rgba(0, 0, 0, 0.5);">
    <div class="slogan">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6" style="overflow: hidden;">
          <h1 class="text-center mt-5 mb-5">Find The Job And Labour That Fit For You</h1>
          <h3 class="text-center">We Offer Thousands Of Job And Labour Right Now</h3>
        </div>
       
      </div>
      <div class="text-center">
        <button class="btn mt-5 mb-5 me-md-5 me-2 banner-buttons ">Create Job
          Profile</button>
        <button class="btn mt-5 mb-5 banner-buttons ">Post A
          Job</button>
  
      </div>
    </div>
  </div>
  
  
  <!-- Category Listing -->
  <div class="container">
  <div class="category mb-4  ">
    <h1 class="mt-4 ms-5"><b>Categories</b></h1>
    <div class="row d-flex justify-content-around" >
      <div class="category-labour col-md-2 col-5 bg-light" *ngFor="let item of categories">
        <img src="{{item.vectorImage}}" class="card-img-top"  alt="Fissure in Sandstone"/>
        <div class="card-body text-center">
          <h1 class="card-title"><b> {{item.name}}</b> </h1>
          <p class="card-text">Basic Wage:₹ {{item.basicWage}} /day</p>
          <p class="">Available Labours :{{item.count}}</p>
          <div class="text-center">
            <button class="btn btn-primary btn-sm" [routerLink]="['/viewLabours/'+item.name]">View</button>
          </div>
        </div>
      </div>
   
    </div>
  </div>
  </div>

</div>

<div class="d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item"><a class="page-link"  (click)="selectPage(selectedPage-1)">{{(selectedPage-1!=0?selectedPage-1:'...')}}</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link">{{selectedPage}}</a>
    </li>
    <li class="page-item"><a class="page-link" (click)="selectPage(selectedPage+1)">{{totalPages>=(selectedPage+1)?selectedPage+1:'...'}}</a></li>
  </ul>
</div>


<labourHive-footer></labourHive-footer>