<app-nav-bar></app-nav-bar>
<!-- Banner -->

<div class="container-fluid" style="margin-top: 80px;">
  <div class="mt-1 border" style="box-shadow:  0 2px 8px rgba(0, 0, 0, 0.5);">
    <div class="slogan">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6" style="overflow: hidden;">
          <h1 class="text-center mt-5 mb-5">Find The Job And Labour That Fit For You</h1>
          <h3 class="text-center">We Offer Thousands Of Job And Labour Right Now</h3>
        </div>
       
      </div>
      <div class="text-center">
        <button class="btn mt-5 mb-5 me-5  " style=" background-color: rgba(240, 55, 55, 0.83); width: 11rem;">Create Job
          Profile</button>
        <button class="btn mt-5 mb-5" style=" background-color: rgba(240, 55, 55, 0.83); width: 11rem;">Post A
          Job</button>
  
      </div>
    </div>
  </div>
  
  
  
  
  
  
  <!-- Category Listing -->
  
  <div class="category mb-4  ">
    <h1 class="mt-4 ms-5"><b>Categories</b></h1>
    <div class="row d-flex justify-content-center " >
      <div class="card col-md-2 mx-3 bg-light" style="box-shadow: 0 4px 6px rgb(0,0,0,0.5); border: thin solid rgb(0,0,0,0.3)" *ngFor="let item of categories">
        <img src="{{item.vectorImage.url}}" class="card-img-top" style="height: 120px; object-fit: contain;" alt="Fissure in Sandstone"/>
        <div class="card-body text-center">
          <h1 class="card-title"><b> {{item.name}}</b> </h1>
          <p class="card-text">Basic Wage:₹ {{item.basicWage}} /day</p>
          <p class="">Available Labours :200</p>
          <div class="text-center">
            <button class="btn btn-primary">View</button>
          </div>
        </div>
      </div>
      
  
  
     
    </div>
  </div>

</div>


<app-footer></app-footer>