<app-nav-bar></app-nav-bar>
<!-- Banner -->

<div class="mt-1 border" style="box-shadow:  0 2px 8px rgba(0, 0, 0, 0.5);overflow: hidden;">
  <div class="slogan">
    <div class="row">
      <div class="col-md-3">
        <!-- <img src="../../../../assets/userAssets/images/wepik-export-202307090735554iAN.jpeg" style="object-fit: cover; width: 10rem; height: 15rem;" alt=""> -->
      </div>
      <div class="col-md-6" style="overflow: hidden;">
        <h1 class="text-center mt-5 mb-5">Find The Job And Labour That Fit For You</h1>
        <h3 class="text-center">We Offer Thousands Of Job And Labour Right Now</h3>
      </div>
      <div class="col-md-3">
        <!-- <img src="../../../../assets/userAssets/images/wepik-export-202307090735554iAN.jpeg" class="" style="object-fit: contain; width: 100px; height: 15rem;" alt=""> -->

      </div>
    </div>
    <div class="text-center">
      <button class="btn mt-5 mb-5 me-5  " style=" background-color: rgba(240, 55, 55, 0.83); width: 11rem;">Create Job
        Profile</button>
      <button class="btn mt-5 mb-5" style=" background-color: rgba(240, 55, 55, 0.83); width: 11rem;">Post A
        Job</button>

    </div>
  </div>
</div>






<!-- Category Listing -->

<div class="category mb-4 ">
  <h1 class="mt-2 me-5">Categories</h1>
  <div class="row d=flex justify-content-center">
    <div class=" col-md-3 card mt-4 ms-4 me-4" style="max-width: 540px; box-shadow: 0 4px 6px rgb(0,0,0,0.5);">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../../assets/userAssets/images/4311006.jpg" alt="Trendy Pants and Shoes"
            class="img-fluid rounded-start" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title fw-bold text-center">Plumber</h1>
            <div class="details text-center">
              <h4 class="card-text ">
                Available Labours:7854+
              </h4>
              <h4>
                Average Wage:₹ 1000/-
              </h4>

            </div>
            <p class="card-text text-center">
              <button class="btn btn-dark">View</button>
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class=" col-md-3 card mt-4 ms-4 me-4" style="max-width: 540px; box-shadow: 0 4px 6px rgb(0,0,0,0.5);">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../../assets/userAssets/images/4311006.jpg" alt="Trendy Pants and Shoes"
            class="img-fluid rounded-start" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title fw-bold text-center">Plumber</h1>
            <div class="details text-center">
              <h4 class="card-text ">
                Available Labours:7854+
              </h4>
              <h4>
                Average Wage:₹ 1000/-
              </h4>

            </div>
            <p class="card-text text-center">
              <button class="btn btn-dark">View</button>
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class=" col-md-3 card mt-4 ms-4 me-4" style="max-width: 540px; box-shadow: 0 4px 6px rgb(0,0,0,0.5);">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../../assets/userAssets/images/4311006.jpg" alt="Trendy Pants and Shoes"
            class="img-fluid rounded-start" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title fw-bold text-center">Plumber</h1>
            <div class="details text-center">
              <h4 class="card-text ">
                Available Labours:7854+
              </h4>
              <h4>
                Average Wage:₹ 1000/-
              </h4>

            </div>
            <p class="card-text text-center">
              <button class="btn btn-dark">View</button>
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class=" col-md-3 card mt-4 ms-4 me-4" style="max-width: 540px; box-shadow: 0 4px 6px rgb(0,0,0,0.5);">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../../assets/userAssets/images/4311006.jpg" alt="Trendy Pants and Shoes"
            class="img-fluid rounded-start" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title fw-bold text-center">Plumber</h1>
            <div class="details text-center">
              <h4 class="card-text ">
                Available Labours:7854+
              </h4>
              <h4>
                Average Wage:₹ 1000/-
              </h4>

            </div>
            <p class="card-text text-center">
              <button class="btn btn-dark">View</button>
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class=" col-md-3 card mt-4 ms-4 me-4" style="max-width: 540px; box-shadow: 0 4px 6px rgb(0,0,0,0.5);">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../../assets/userAssets/images/4311006.jpg" alt="Trendy Pants and Shoes"
            class="img-fluid rounded-start" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title fw-bold text-center">Plumber</h1>
            <div class="details text-center">
              <h4 class="card-text ">
                Available Labours:7854+
              </h4>
              <h4>
                Average Wage:₹ 1000/-
              </h4>

            </div>
            <p class="card-text text-center">
              <button class="btn btn-dark">View</button>
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class=" col-md-3 card mt-4 ms-4 me-4" style="max-width: 540px; box-shadow: 0 4px 6px rgb(0,0,0,0.5);">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../../assets/userAssets/images/4311006.jpg" alt="Trendy Pants and Shoes"
            class="img-fluid rounded-start" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title fw-bold text-center">Plumber</h1>
            <div class="details text-center">
              <h4 class="card-text ">
                Available Labours:7854+
              </h4>
              <h4>
                Average Wage:₹ 1000/-
              </h4>

            </div>
            <p class="card-text text-center">
              <button class="btn btn-dark">View</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>