<section  class="chat-container" [ngClass]="{'no-margin-top':noMargin}" >
  <div class="container h-100 py-5">
    <div class="row h-100">
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card">
          <div class="card-body receiver-list">
            <ul class="list-unstyled mb-0">
              <li
                class="p-2 border-bottom mb-3 receiver-li"
                *ngFor="let receivers of messageReceivers"
                (click)="chatPersonChange(receivers)"
              >
                <a class="d-flex justify-content-between">
                  <div class="d-flex flex-row align-items-center">
                    <img
                      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-8.webp"
                      alt="avatar"
                      class="rounded-circle d-flex align-self-center me-3 shadow-1-strong"
                      width="60"
                    />
                    <div class="pt-1">
                      <p class="fw-bold mb-0">{{ receivers.receiver|titlecase }}</p>
                    </div>
                  </div>
                  <!-- <div class="pt-1">
                    <span class="badge bg-danger float-end">1</span>
                  </div> -->
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-8 single-messages " *ngIf="currentChatPerson">
        <div class="d-flex justify-content-start mb-4 align-items-center p-3" style="background-color: rgba(224, 224, 224, 0.329); border-radius: 4px;">
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
            alt="avatar"
            class="rounded-circle d-flex align-self-start me-3 shadow-1-strong"
            width="60"
          />
          <h3 class="m-0">
            <b>{{ currentChatPerson.receiver|titlecase }}</b>
          </h3>
        </div>

        <ul class="list-unstyled message" #messageContainer>
        
          <li
            [ngClass]="message.user === 'sender' ? 'sender' : 'receiver'"
            *ngFor="let message of messageArray"
          >
            <div class="message-box">
              <p class="mb-0" style="overflow-x: hidden">
                {{ message.message }}
              </p>
            </div>
          </li>
          <li class="mb-3 message-input" >
            <div class="input-group">
              <input
                [(ngModel)]="messageText"
                (keyup)="sendMessage($event)"
                placeholder="Type a message"
                class="form-control"
              />
              <button
                type="button"
                class="btn btn-info"
                (click)="sendMessage($event)"
              >
                Send
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
