<div class="container-fluid">
  <div class="mt-4 ms-4"><h2 class="heading">SCHEDULES</h2></div>
  <div class="container mt-5">
    <div class="card-container">
      <div class="card">
        <h2 class="date mb-0">16</h2>
        <h3 class="m-0">Wednessday</h3>
        <h3 class="m-1" style="color: rgb(0, 241, 0);">Free</h3>
        <i class="fas fa-eye" matTooltip="View Job"></i>
    </div>
    <div class="card">
        <h2>27</h2>
        <p style='color:red;'>Engaged</p>
      </div>
      <div class="card">
        <h2>3</h2>
        <p>Content of card 1.</p>
      </div>
      <div class="card">
        <h2>4</h2>
        <p>Content of card 1.</p>
      </div>
      <div class="card">
        <h2>5</h2>
        <p>Content of card 1.</p>
      </div>
      <div class="card">
        <h2>6</h2>
        <p>Content of card 1.</p>
      </div>
      <div class="card">
        <h2>6</h2>
        <p>Content of card 1.</p>
      </div>
    </div>
  </div>
</div>
