<div class="header d-flex justify-content-between ms-3 me-3 pt-4">
  <h3><b>HOME</b></h3>
  <div class="search">
    <!-- <button class="btn btn-success ms-2">Search</button> -->
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-3 col-6 mb-3">
        <div class="over-view row">
          <div class="icon col-md-4">
            <div class="img">
              <img
                src="../../../../assets/adminAssets/images/revenue.png"
                alt=""
              />
            </div>
          </div>

          <div class="col-md-8">
            <div class="ms-3 details">
              <p class="heading mb-3">Revenue</p>
              <p class="data">{{summaryDatas?.totalRevenue}} K</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-6 mb-3">
        <div class="over-view row">
          <div class="icon col-md-4">
            <div class="img">
              <img
                src="../../../../assets/adminAssets/images/users.png"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-8">
            <div class="ms-3 details">
              <p class="heading mb-3">Users</p>
              <p class="data">{{summaryDatas?.totalUsers}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-6 mb-3">
        <div class="over-view row">
          <div class="icon col-md-4">
            <div class="img">
              <img
                src="../../../../assets/adminAssets/images/hire.png"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-8">
            <div class="ms-3 details">
              <p class="heading mb-3">Total Hire</p>
              <p class="data">{{summaryDatas?.totalHire}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-6 mb-3">
        <div class="over-view row">
          <div class="icon col-md-4">
            <div class="img">
              <img
                src="../../../../assets/adminAssets/images/jobs.png"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-8">
            <div class="ms-3 details">
              <p class="heading mb-3">Active Jobs</p>
              <p class="data">{{summaryDatas?.totalJobs}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sales-report">
    </div>
    <div class="row" style="margin-top: 80px;">
      <div class="col-md-4 col-sm-12">
        <canvasjs-chart [options]="columnChart" [styles]="{width: '100%', height: '360px'}"></canvasjs-chart>    
    </div> 
    <div class="col-md-4 col-sm-12 mb-3">
      <canvasjs-chart [options]="lineChart" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
    </div>
    <div class="col-md-4 col-sm-12 mb-3" >
      <canvasjs-chart [options]="pieChart" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
    </div>
  </div>
   
  </div>
</div>
