<div class="header d-flex justify-content-between ms-3 me-3 pt-4">
    <h3><b>CATEGORY MANAGEMENT</b></h3>

    <mat-dialog-actions>
        <button class="ms-2" mat-raised-button color="primary" (click)="openDialogAddCategory()">Add Category</button>
    </mat-dialog-actions>

  </div>
  <div class="m-2">
  
    <table class="table table-striped mt-3">
        <thead class="tableHeadings">
          <tr>
            <th scope="col" >Sl No.</th>
            <th scope="col">Category</th>
            <th scope="col">Basic Wage</th>
            <th scope="col">Total Labours</th>
            <th scope="col">Total Jobs</th>
            <th scope="col">Active Jobs</th>
            <th scope="col">Image</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of (categoryDatas$|async),let i='index'">
            <th scope="row">{{i+1}}</th>
            <td>{{item.name}}</td>
            <td class="">{{item.basicWage}}</td>
            <td>1</td>
            <td>{{item.blockStatus}}</td>
            <td>8856</td>
            <td><img src="{{item.vectorImage.url}}" alt="" class="table-image"></td>
            <td>
              <div class="dropdown">
                <button
                  class="btn btn-dark text-white dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                >
                  Options
                </button>
                <ul class="dropdown-menu" style="box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" (click)="openDialogEditCategory(item._id)">Edit</a></li>
                  <li><a class="dropdown-item" (click)="blockCategory(item._id,item.blockStatus,item.name)" >{{item.blockStatus?'Unblock':'Block'}}</a></li>
                  <li><a class="dropdown-item" (click)="deleteCategory(item._id,item.name)">Delete</a></li>
                </ul>
              </div>
            </td>

          </tr>
        </tbody>
      </table>
  </div>
  