.tableHeadings{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .5);  
    border: 0.005rem solid rgba(0, 0, 0, 0.5);
}
.table{
    border-left: 0.005rem solid rgba(180, 180, 180, 0.5);
    border-right: 0.005rem solid rgba(180, 180, 180, 0.5);
    
}