<table class="table table-striped">
    <thead class="tableHeadings">
      <tr>
        <th scope="col">Sl No.</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Wallet Balence</th>
        <th scope="col">Total Works</th>
        <th scope="col">Totol Hire</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
