<div class="container-fluid mt-4" *ngFor="let item of postedJobData">
    <div class="container" style="background-color: whitesmoke" >
        <div class="headings row">
            <p class="col-3">Job</p>
            <p class="col-3">Applied Candidates</p>
            <p class="col-3">Job Status</p>
            <p class="col-3">Actions</p>
        </div>
        <hr />
        <div class="datas row">
            <div class="job-data col-3 d-flex flex-column align-items-center">
                <div>
                    <div>
                        <p><i class="ri-briefcase-line"></i>&nbsp;&nbsp;&nbsp;<span>{{item.categoryName}}</span></p>
                    </div>
                    <div>
                        <p><i class="ri-money-dollar-box-line"></i>&nbsp;&nbsp;&nbsp;<span>{{item.experience}}</span>&nbsp;Years&nbsp;&nbsp;|&nbsp;&nbsp;₹&nbsp;<span>{{item.wage}}</span></p>
                    </div>
                    <div>
                        <p style="display: flex;"><i class="ri-map-pin-line"></i>&nbsp;&nbsp;&nbsp;<span class="location" title="{{item.location}}">{{item.location}}</span></p> 
                    </div>
                    <div>
                        <p><i class="ri-calendar-todo-fill"></i>&nbsp;&nbsp;&nbsp;<span>{{(item.startDate|customDate)}}</span>&nbsp;to&nbsp;<span>{{(item.endDate|customDate)}}</span></p>
                    </div>
                </div>
            </div>
            <div class="job-data col-3" style="display: flex;gap: 1.5rem;">
                <div>
                    <p class="mb-0"><i class="ri-user-follow-line"></i>&nbsp;<span>{{item.applicantCount}}</span>&nbsp;&nbsp;Applicants</p>
                </div>
                <div>
                    <button class="btn btn-sm btn-success" (click)="veiwApplicants(item.applicants)">View All</button>
                </div>
            </div>
            <div class="job-data text-center col-3">
                <p><i class="ri-lightbulb-flash-line" ></i>&nbsp;<span>{{item.currentStatus}}</span></p>
            </div>
            <div class="job-data text-center col-3">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button"id="dropdownMenuButton"data-mdb-toggle="dropdown"aria-expanded="false">
                      Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" (click)="editJob(item)">Edit</a></li>
                      <li><a class="dropdown-item" href="#">Expire</a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</div>