<div class="container-fluid mt-4">
    <div class="container" style="background-color: whitesmoke">
        <div class="headings row">
            <p class="col-3">Job</p>
            <p class="col-3">Applied Candidates</p>
            <p class="col-3">Job Status</p>
            <p class="col-3">Actions</p>
        </div>
        <hr />
        <div class="datas row">
            <div class="job-data col-3 d-flex flex-column align-items-center">
                <div>
                    <p><b><span><i class="ri-briefcase-line"></i>&nbsp;&nbsp;&nbsp;</span> Carpenter</b></p>
                    <p><b><span><i class="ri-money-dollar-box-line"></i>&nbsp;&nbsp;&nbsp;4&nbsp;Years<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>₹&nbsp;5656</span></b></p>
                    <p><b><span><i class="ri-map-pin-line"></i>&nbsp;&nbsp;&nbsp;</span> kannur</b></p> 
                    <p><b><span><i class="ri-calendar-todo-fill"></i>&nbsp;&nbsp;&nbsp;</span> date</b></p>
                </div>
            </div>
            <div class="job-data col-3" style="display: flex;gap: 1.5rem; justify-content:center ;">
                <div>
                    <p><b><span><i class="ri-user-follow-line"></i>&nbsp;</span> 452</b></p>
                </div>
                <div>
                    <button class="btn btn-sm btn-success">View All</button>
                </div>
            </div>
            <div class="job-data text-center col-3">
                <p><b><span><i class="ri-lightbulb-flash-line"></i>&nbsp;</span> Active</b></p>
            </div>
            <div class="job-data text-center col-3">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button"id="dropdownMenuButton"data-mdb-toggle="dropdown"aria-expanded="false">
                      Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Edit</a></li>
                      <li><a class="dropdown-item" href="#">Expire</a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</div>