<div class="container-fluid">
  <div class="mt-4 ms-4"><h2 class="heading">BASIC INFO</h2></div>

  <div class="row contents mt-6">
    <div class="col-3"></div>
    <div class="col-5 box" style="background-color: rgba(235, 235, 235, 0.753)">
      <div class="image">
        <img
          src="../../../../../assets/userAssets/images/1408.jpg"
          alt=""
          style="
            height: 120px;
            width: 120px;
            border-radius: 60px;
            border: thin solid rgba(0, 0, 0, 0.1);
          "
        />
        <!-- <button class="btn btn-primary btn-sm " (click)="onEdit()">Edit</button> -->
      </div>

      <div class="details mb-4">
       
     
      </div>
    
    </div>
    <div class="col-3"></div>
  </div>
</div>

