<div class="container-fluid">
  <div class="mt-4 ms-4"><h2 class="heading">BASIC INFO</h2></div>

  <div class="row contents mt-6">
    <div class="col-3"></div>
    <div class="col-5 box" style="background-color: rgba(235, 235, 235, 0.753)">
      <div class="image">
        <img
          src="../../../../../assets/userAssets/images/1408.jpg"
          alt=""
          style="
            height: 100px;
            width: 100px;
            border-radius: 50px;
            border: thin solid rgba(0, 0, 0, 0.1);
          "
        />
        <button class="btn btn-primary btn-sm " (click)="onEdit()">Edit</button>
      </div>

      <div class="details mb-4">
        <div class="d">
            <div class="data">
              <span class="tag-name">Name</span
              >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                class="tag-name"
                >Abijith Surendran</span>
            </div>
            <div class="data">
              <span class="tag-name">Email</span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;
              <span class="tag-name"
                >Abijith </span>
            </div>
    
            <div class="data">
              <span class="tag-name">Mob no.</span>
              &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tag-name"
                >Abijith Surendran</span>
            </div>

        </div>
      </div>
    
    </div>
    <div class="col-3"></div>
  </div>
</div>

<!-- <div class="container-fluid a">
  <div class="row container">
    <div class="col-4"></div>
    <div class="col-5">
      <div class="image">
        <img
          src="../../../../../assets/userAssets/images/2822506.jpg"
          style="
            height: 150px;
            width: 150px;
            border-radius: 75px;
            border: thin solid rgba(0, 0, 0, 0.1);
          "
          alt=""
        />
      </div>
      
    </div>
    <div class="col-4"></div>
  </div>
</div> -->
