<div class="container-fluid">
  <div class="mt-4 ms-4"><h2 class="heading">BASIC INFO</h2></div>

  <div class="row contents mt-6">
    <div class="col-3"></div>
    <div class="col-5 box" style="background-color: rgba(235, 235, 235, 0.753)">
      <div class="image">
        <img
          src="../../../../../assets/userAssets/images/1408.jpg"
          alt=""
          style="
            height: 120px;
            width: 120px;
            border-radius: 60px;
            border: thin solid rgba(0, 0, 0, 0.1);
          "
        />
      </div>

      <div class="details ">
        <div class="name mb-md-2 d-flex text-center align-items-center">
          <h2 class="mb-0 me-2">Abijth Surendran</h2>
          <a class="text-primary" style="cursor: pointer;" (click)="onEdit()">edit</a>
        </div>
        <div class="email mb-md-2">abijitsurendran005@gmail.com</div>
        <div class="contact mb-md-2">9986255028</div>
      </div>
      <div class="change-password">
        <div class="change-link d-flex justify-content-end">
          <a class="p-2" >Change password</a>
        </div>

        <div class="password ">
          <div class="d">
            <label class="form-label">Current Password</label>
            <input type="password" class="form-control" style="width: 320px;" />
          </div>
        </div>
        <div class="password">
          <div class="d">
            <label class="form-label">New Password</label>
            <input type="password" class="form-control" style="width: 320px;" />
          </div>
          <div class="d">
            <label class="form-label">Confirm Password</label>
            <input type="password" class="form-control" style="width: 320px;" />
          </div>

        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>
