.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.heading {
  font-weight: bolder;
}

.card {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  max-height: 136px ;
  max-width: 140px;
}

.date {
  font-size: 25px;
  font-weight: bolder;
}

.fas:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease-out;
}
.fas {
  transition: transform 0.3s ease-in;
}


@media(max-width:768px){

  .heading{
    font-size: 15px;
  }

  .date{
    font-size: 17px;
    line-height: 17px;
  }

  .day{
    font-size: 10px;
    line-height: 20px;
  }
  .card{
    padding: 4px;
    max-width: 70px;
    max-height: 80px;
  }

  .column{
    padding: 3px !important;
  }

  p{
    font-size: 8px;
    line-height:20px ;
    margin-bottom: 0 !important;
  }
  i{
    font-size: 10px;
  }

  
}