<form [formGroup]="changePasswordForm" (ngSubmit)="onsubmit()">
    <div class="d-flex align-items-center justify-content-center mb-5 pb-1">
        <span class="h3 font-semibold mb-0 ms-5  text-center"
          style="text-shadow: 1.5px 3px 3px rgb(75, 75, 75);color: rgba(48, 46, 46, 0.89);">CHANGE PASSWORD</span>
      </div>

    <div class="mb-2">
        <label for="" class="form-label" [style.color]="isSubmitted&&formControls['password'].errors?'rgb(240, 0, 0)':''">{{isSubmitted&&formControls['password'].errors?.hasOwnProperty('required')?'Password required':(isSubmitted&&formControls['password'].errors?.hasOwnProperty('pattern')?'Password should have atleast 3 characters':' Password')}}</label>
        <input type="text" class="form-control" formControlName="password" [ngClass]="{'is-invalid':isSubmitted&&formControls['password'].errors}">
      </div>

      <div class="mb-2">
        <label for="" class="form-label" [style.color]="isSubmitted&&formControls['confirmPassword'].errors||isSubmitted&&(formControls['password'].value!=formControls['confirmPassword'].value)?'rgb(240, 0, 0)':''">{{isSubmitted&&formControls['confirmPassword'].errors?.hasOwnProperty('required')?'Confirm password required':(isSubmitted&&(formControls['confirmPassword'].value!=formControls['password'].value)?'Password not matching':'Confirm password')}}</label>
        <input type="text" class="form-control" formControlName="confirmPassword" [ngClass]="{'is-invalid':isSubmitted&&formControls['confirmPassword'].errors}">
      </div>

      <div class="pt-1 mb-3">
        <button class="btn btn-dark btn-lg btn-block w-100 mt-3" type="submit">SUBMIT</button>
      </div>
</form>