<div class="container-fluid" style="margin-top: 80px;">
    <div class="search-box ">
        <h1 class="text-center d-md-block d-none slogan">We offer thousands of works right now</h1>
        <div class="search col-md-5 col-12">
            <input type="text" placeholder="Search by key" class="form-control ">
            <input type="text" placeholder="Search by location" class="form-control">
            <button class="btn  btn-success">search</button>
        </div>
        <div class="col-md-5 col-12">
            <h4 class="suggestion">Browse works by Category And Location</h4>
        </div>

    </div>

   <div class="container-fluid">
    <div class="row d-flex justify-content-between">
        <div class="col-md-4 card jobs">
            <p>Category:Electrician</p>
            <p>Location:Kannur,Koothuparamba</p>
            <p>No.of Days:2</p>
            <p>Required Labour:5</p>
        </div>
        <div class="col-md-4 card jobs">
            <p>Category:Electrician</p>
            <p>Location:Kannur,Koothuparamba</p>
            <p>No.of Days:2</p>
            <p>Required Labour:5</p>
        </div>
        <div class="col-md-4 card jobs">
            <p>Category:Electrician</p>
            <p>Location:Kannur,Koothuparamba</p>
            <p>No.of Days:2</p>
            <p>Required Labour:5</p>
        </div>
        <div class="col-md-4 card jobs">
            <p>Category:Electrician</p>
            <p>Location:Kannur,Koothuparamba</p>
            <p>No.of Days:2</p>
            <p>Required Labour:5</p>
        </div>
        <div class="col-md-4 card jobs">
            <p>Category:Electrician</p>
            <p>Location:Kannur,Koothuparamba</p>
            <p>No.of Days:2</p>
            <p>Required Labour:5</p>
        </div>
    </div>
   </div>