.search-box{
    background-color: rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    border: thin solid rgba(0, 0, 0, 0.3);
    padding-top: 1em;
}

.search{
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    padding-top: 1em;
    gap: 10px;
}

.suggestion{
    opacity: 0.6;
}

.slogan{
    font-weight: 600;
    margin-bottom: 10px;
}

.jobs{
    width: 400px;
    height: 220px;
    gap: 20px;
    background-color: rgba(244, 244, 244, 1);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}


.icon img{
    margin: 10px 0px 20px 20px;
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.card-row{
    display: flex;
    gap: 20px;
}

.details{
    margin-left: 20px;
}
.details p{
    white-space: nowrap;
    font-size: 15px;
}

.search-location{
    position: relative;
}

.suggestion-list{
    position: absolute;
    top: 50px;
    left:348px;
    background-color: white;
    z-index: 100;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    width: 338px;
    margin-top: 4px;
    
}
.suggestion-list li{
    cursor: pointer;
    padding:8px;
}

@media (max-width:768px){
   .search-box{
    padding-top: .5em;
   }

   .search{
    padding-bottom: 4px;
    padding-top: .2em;
   }

   .suggestion{
    font-size: 10px;
    padding-left: 25px;
    margin-bottom: 2px;
   }
  .form-control{
   
        width: 130px;
        height: 25px; 

        font-size: 12px; 
    }

    .btn {
        font-size: 10px;
        padding: 5px 10px; 
    }

    .suggestion-list{
        top: 28px;
        left:150px;
        width: 155px;
        margin-top: 4px;
        
    }
    
  
}