<div class="container-fluid" style="margin-top: 80px;">
    <div class="search-box ">
        <h1 class="text-center d-md-block d-none slogan">We offer thousands of works right now</h1>
        <div class="search col-md-5 col-12 search-location">
            <input type="text" placeholder="Search by key" class="form-control" [(ngModel)]="searchKey">
            <input type="text" placeholder="Search by location" [(ngModel)]="searchLocation" (input)="fetchLocation($event)" class="form-control ">
            <ul class="list-unstyled suggestion-list">
                <li *ngFor="let suggestion of suggessions" (click)="selectLocation(suggestion)">{{suggestion.location}}</li>
            </ul>
            <button class="btn  btn-success" (click)="searchJobs()">search</button>
        </div>
        <div class="col-md-5 col-12">
            <h4 class="suggestion">Browse Works By Category And Location</h4>
        </div>

    </div>

   <div class="container-fluid">
    <div class="row ">      
        <div class="col-md-3 mt-4 d-flex justify-content-center ">
            <div class=" jobs">
                <div class="icon">
                    <img src="../../../../assets/userAssets/images/jobicon.png" alt="" style="width: 40px;height: 40px; object-fit: cover;">
                </div>
                <div class='details'>
                    <p><b>Category :</b> Electrician</p>
                    <p><b>Location: </b> Kannur,Koothuparamba</p>
                    <p><b>No.of Days: </b> 2</p>
                    <p><b>Required Labour: </b> 5</p>

                </div>
            </div>
        </div>        
        <div class="col-md-3 mt-4 d-flex justify-content-center ">
            <div class=" jobs">
                <div class="icon">
                    <img src="../../../../assets/userAssets/images/jobicon.png" alt="" style="width: 40px;height: 40px; object-fit: cover;">
                </div>
                <div class='details'>
                    <p><b>Category :</b> Electrician</p>
                    <p><b>Location: </b> Kannur,Koothuparamba</p>
                    <p><b>No.of Days: </b> 2</p>
                    <p><b>Required Labour: </b> 5</p>

                </div>
            </div>
        </div>        
        <div class="col-md-3 mt-4 d-flex justify-content-center ">
            <div class=" jobs">
                <div class="icon">
                    <img src="../../../../assets/userAssets/images/jobicon.png" alt="" style="width: 40px;height: 40px; object-fit: cover;">
                </div>
                <div class='details'>
                    <p><b>Category :</b> Electrician</p>
                    <p><b>Location: </b> Kannur,Koothuparamba</p>
                    <p><b>No.of Days: </b> 2</p>
                    <p><b>Required Labour: </b> 5</p>

                </div>
            </div>
        </div>        
        <div class="col-md-3 mt-4 d-flex justify-content-center ">
            <div class=" jobs">
                <div class="icon">
                    <img src="../../../../assets/userAssets/images/jobicon.png" alt="" style="width: 40px;height: 40px; object-fit: cover;">
                </div>
                <div class='details'>
                    <p><b>Category :</b> Electrician</p>
                    <p><b>Location: </b> Kannur,Koothuparamba</p>
                    <p><b>No.of Days: </b> 2</p>
                    <p><b>Required Labour: </b> 5</p>

                </div>
            </div>
        </div>        
        <div class="col-md-3 mt-4 d-flex justify-content-center ">
            <div class=" jobs">
                <div class="icon">
                    <img src="../../../../assets/userAssets/images/jobicon.png" alt="" style="width: 40px;height: 40px; object-fit: cover;">
                </div>
                <div class='details'>
                    <p><b>Category :</b> Electrician</p>
                    <p><b>Location: </b> Kannur,Koothuparamba</p>
                    <p><b>No.of Days: </b> 2</p>
                    <p><b>Required Labour: </b> 5</p>

                </div>
            </div>
        </div>        
        <div class="col-md-3 mt-4 d-flex justify-content-center ">
            <div class=" jobs">
                <div class="icon">
                    <img src="../../../../assets/userAssets/images/jobicon.png" alt="" style="width: 40px;height: 40px; object-fit: cover;">
                </div>
                <div class='details'>
                    <p><b>Category :</b> Electrician</p>
                    <p><b>Location: </b> Kannur,Koothuparamba</p>
                    <p><b>No.of Days: </b> 2</p>
                    <p><b>Required Labour: </b> 5</p>

                </div>
            </div>
        </div>        
        <div class="col-md-3 mt-4 d-flex justify-content-center ">
            <div class=" jobs">
                <div class="icon">
                    <img src="../../../../assets/userAssets/images/jobicon.png" alt="" style="width: 40px;height: 40px; object-fit: cover;">
                </div>
                <div class='details'>
                    <p><b>Category :</b> Electrician</p>
                    <p><b>Location: </b> Kannur,Koothuparamba</p>
                    <p><b>No.of Days: </b> 2</p>
                    <p><b>Required Labour: </b> 5</p>

                </div>
            </div>
        </div>        
           
        
    </div>
   </div>