<div class="container-fluid" style="margin-top: 80px;">

    <div class="search-box ">
        <h1 class="text-center "><b class="slogan">We offer thousands of works right now</b></h1>
        <div class="search col-md-5 col-9"  style="gap: 10px;">
            <input type="text" placeholder="Search by key" class="form-control ">
            <input type="text" placeholder="Search by location" class="form-control">
            <button class="btn  btn-success">search</button>
        </div>
        <div class="col-md-5 col-9">
            <h4 class="suggestion">Browse works by Category And Location</h4>
        </div>
       
    </div>

</div>