.tableHeadings{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .5);  
    border: 0.005rem solid rgba(0, 0, 0, 0.5);
}
.table{
    border-left: 0.005rem solid rgba(180, 180, 180, 0.5);
    border-right: 0.005rem solid rgba(180, 180, 180, 0.5);
    
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    
}

tr{
    text-align: center;
}

.blockBtn{

    height: 35px;
    border-radius: 5px;
    width: 100px;
}


.table-image {
    max-width: 100%;
    max-height: 50px; 
    width: auto;
    height: auto;
  }

  a{
    cursor: pointer;
  }

 

  
  
  