<div class="container-fluid ">
    <h2 class="text-center">Edit {{field|titlecase}}</h2>
    <div class="container p-3">
        <form>
            <div>
                <label for="">Name</label>
                <input class=" form-control" type="text">
            </div>
            <div>
                <label for="">Email</label>
                <input class=" form-control" type="text">
            </div>
            <div>
                <label for="">Mobile Number</label>
                <input class=" form-control" type="text">
            </div>
            <div class="buttons mt-4">
                <button class=" btn btn-danger mx-1" (click)="cancel()" >Cancel</button>
                <button class="btn btn-success mx-1" (click)="onSubmit()" >Submit</button>
            </div>
        </form>
    </div>
</div>