<div class="container-fluid" style="margin-top: 75px;" *ngIf="!isLoading">
    <div class="row ">

        <div class="col-md-3 mt-4 d-flex justify-content-center" *ngFor="let item of labourDetails">
            <div class=" jobs">
                <div class="d-flex">
                    <div class="col-md-5 text-center img mt-2">
                        <img src="{{item.profilePic}}" alt="">
                    </div>
                    <div class="col-md-7 mt-2 ms-3">
                        <h2 class="name">{{item.name}}</h2>
                        <h3 class="category">{{item.category}}</h3>
                    </div>
                </div>
                <div class='details mt-2'>
                    <p><b>Experience : 2 Years</b> </p>
                    <p><b>Wage &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : ₹ <span>{{item.wage}}</span> /Day</b></p>
                    <p><b>Location &nbsp;&nbsp;&nbsp; : <span>{{item.location}}</span></b> </p>
                    <p><b>Rating &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : <span>{{item.rating}}</span>&nbsp;&nbsp;
                        <span *ngFor="let star of item.rating!|starRating" >
                             <i *ngIf="star==1" class="star-icon ri-star-fill" style="color: gold; width: 20px;"></i>
                            <i *ngIf="star==.5" class="star-icon ri-star-half-line"style="color: gold;"></i>
                            <i *ngIf="star==0" class="star-icon ri-star-line" style="color: rgb(0, 0, 0);width: 20px;"></i>
                        </span>
                    </b> </p>
                </div>
                <div class="buttons d-flex justify-content-end mt-3">
                  <button class="btn btn-primary" (click)="viewJobProfile(item.user_id!)">View</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spinner">
    <!-- <labourHive-loading *ngIf="isLoading"></labourHive-loading> -->

</div>