<div class="container-fluid">
  <div class="container">
    <h1 class="text-center heading">HIRE &nbsp;DETAILS</h1>
    <div class="content d-flex justify-content-center ">
      <div class="details">
        <p class="datas mb-md-4">
          <span class="tag-name">Name</span
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&NonBreakingSpace;&nbsp;:&nbsp;&nbsp;<span
            >{{ labourDetails?.name }}</span
          >
        </p>
        <p class="datas mb-md-4">
          <span class="tag-name">Category</span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;<span>{{
            labourDetails?.category
          }}</span>
        </p>
        <p class="datas mb-md-4">
          <span class="tag-name">Wage</span
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;<span
            >{{
              postedJobDetails ? postedJobDetails.wage : labourDetails?.wage
            }}</span
          >
          /Day
        </p>
        <form [formGroup]="hireForm" (ngSubmit)="confirmPayment()">
          <ng-container *ngIf="application_id ;else elseBlock" >
            <div class="input-container">
              <p class="datas mb-md-4">
                <span class="tag-name">Start Date</span>
                &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;<span
                  >{{postedJobDetails?.startDate!|customDate}}</span>
              </p>
             </div>
            <div class="input-container">
              <p class="datas mb-md-4">
                <span class="tag-name">End Date</span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;<span
                  >{{postedJobDetails?.endDate!|customDate}}</span>
              </p>
             </div>
            <div class="input-container">
              <p class="datas mb-md-4" style="display: inline-block;">
                <span class="tag-name">Location</span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;<span style="cursor: pointer;" matTooltip="{{postedJobDetails?.location}}" class="location-block"
                  >{{postedJobDetails?.location}}</span>
              </p>
             </div>
          </ng-container>
          <ng-template #elseBlock>
            <div class="input-container">
              <p class="datas mb-md-4">
                <span class="tag-name">Date</span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;<span
                  > <mat-form-field >
                    <mat-label class="form-label">{{isSubmitted&&(formControls['startDate'].errors||formControls['endDate'].errors)?'Invalid date range':'Enter a date range'}}</mat-label>
                    <mat-date-range-input  [min]="minDate" [max]="maxDate" [rangePicker]="picker" >
                      <input matStartDate  placeholder="Start date" formControlName="startDate" (dateChange)="onDateChange()">
                      <input matEndDate  placeholder="End date" formControlName="endDate" (dateChange)="onDateChange()" >
                    </mat-date-range-input>
                    <mat-hint class="form-label">MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker [dateClass]="dateClass"   #picker></mat-date-range-picker>
                  </mat-form-field></span>
              </p>
             </div>
             <div class="input-container">
              <p class="datas mb-md-4 d-flex align-items-center">
                <span class="tag-name">Description</span>
                &nbsp;:&nbsp;&nbsp;<span>
                  <textarea formControlName="description" rows="3"></textarea>
                </span>
              </p>
              <p
                class="warning"
                *ngIf="isSubmitted && formControls['description'].errors"
              >
                Description is required
              </p>
            </div>
            <div class="input-container">
              <p class="datas mb-md-4">
                <span class="tag-name">Location</span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;<span>
                  <input
                    *ngIf="!postedJobDetails"
                    (keyup)="inputChange($event)"
                    formControlName="location"
                    placeholder="Enter Work Location"
                    type="text"
                  />
                  <input
                    style="cursor: default"
                    title="{{ postedJobDetails.location }}"
                    *ngIf="postedJobDetails"
                    formControlName="location"
                    [readonly]="isReadOnly"
                    type="text"
                  />
                  <ul class="suggestion-list" *ngIf="suggestions.length > 0">
                    <li
                      *ngFor="let suggestion of suggestions"
                      (click)="selectLocation(suggestion)"
                    >
                      {{ suggestion.location }}
                    </li>
                  </ul>
                </span>
              </p>
              <p
                class="warning"
                *ngIf="isSubmitted && formControls['location'].errors"
              >
                Location is required
              </p>
            </div>
          </ng-template>

         
        </form>
      </div>
    </div>
    <div class="payment-card">
      <p class="datas" *ngIf="totalDays">
        <span class="tag-name">Total Days</span
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;<span
          >{{ totalDays }} Days</span
        >
      </p>
      <p class="datas">
        <span class="tag-name">Total Wage</span
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;₹
        <span>{{ totalWage ? totalWage : labourDetails?.wage }}</span>
      </p>
      <p class="datas">
        <span class="tag-name">Service Charge</span
        >&NonBreakingSpace;&nbsp;:&nbsp;&nbsp;1% of Total Wage
      </p>
      <p (click)="goBack()" class="datas">
        <span class="tag-name">Total Payable</span
        >&nbsp;&nbsp;&nbsp;&NonBreakingSpace;&nbsp;:&nbsp;&nbsp;₹
        <span>{{ totalPayable ? totalPayable : labourDetails?.wage }}</span>
      </p>

      <div class="button">
        <button class="btn btn-danger me-2" (click)="closeDialogBox()">
          Cancel
        </button>
        <button class="btn btn-primary" (click)="confirmPayment()">
          Pay & Proceed
        </button>
      </div>
    </div>
  </div>
</div>
