<div class="header d-flex justify-content-between ms-3 me-3 pt-4">
    <h3><b>WALLET MANAGEMENT</b></h3>
    <div class="search ">
    </div>
  </div>
  <div class="m-2">
  
    <table class="table table-striped mt-3">
      <thead class="tableHeadings">
        <tr>
          <th scope="col">Sl No.</th>
          <th scope="col">User</th>
          <th scope="col">Acoount Holder</th>
          <th scope="col">Request Date</th>
          <th scope="col">Account Number</th>
          <th scope="col">IFSC Code</th>
          <th scope="col">Amount</th>
          <th scope="col">Wallet Balance</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of walletDetails,let i='index'">
          <th scope="row">{{i+1}}</th>
          <td>{{item.user_id.name}}</td>
          <td>{{item.accountHolder}}</td>
          <td>{{item.createdAt|customDate}}</td>
          <td>{{item.accountNumber}}</td>
          <td>{{item.ifscCode}}</td>
          <td>₹ {{item.amount}}</td>
          <td>₹ {{item.user_id.wallet}}</td>
          <td>{{item.status|titlecase}}</td>
          <td>
            <button
            *ngIf="item.status==='requested';else noAction"
              type="button"
              class="btn btn-sm btn-primary dropdown-toggle"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              Actions
            </button>
            <ul class="dropdown-menu">
              <li >
                <a
                  class="dropdown-item"
                  (click)="confirmPayment(item._id,item.user_id.wallet,item.user_id._id)"
                  >Pay</a
                >
              </li>
              <li>
                <a class="dropdown-item" (click)="rejectRequest(item._id)"
                  >Reject</a
                >
              </li>
            </ul>
            <ng-template #noAction>
              <i class="fas fa-ban text-info" style="font-size: x-small">
                No Action</i
              >
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  

