<div class="header d-flex justify-content-between ms-3 me-3 pt-4">
    <h3><b>WALLET MANAGEMENT</b></h3>
    <div class="search ">
    </div>
  </div>
  <div class="m-2">
  
    <table class="table table-striped mt-3">
      <thead class="tableHeadings">
        <tr>
          <th scope="col">Sl No.</th>
          <th scope="col">User</th>
          <th scope="col">Request Date</th>
          <th scope="col">Account Number</th>
          <th scope="col">IFSC Code</th>
          <th scope="col">Amount</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of walletDetails,let i='index'">
          <th scope="row">{{i+1}}</th>
          <td>{{item.category.name}}</td>
          <td>{{item.client_id.name}}</td>
          <td>{{item.createdAt|customDate}}</td>
          <td>{{item.startDate|customDate}}</td>
          <td>₹ {{item.wage}}</td>
          <td><button class="btn btn-dark text-white blockBtn">Actions</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  

